*{
    margin:0;
    padding:0;
}
html {
    font-size: 62.5%;
}
.navbar {
    display: flex;
    background-color: chartreuse;
    height:8rem;
    /* flex-wrap: wrap; */
    
}

.ullist {
    /* padding-right:10px; */
    display:flex;
    /* justify-content:left; */
    width:40%;
    text-decoration: none;
    /* flex-wrap: wrap; */

   }
.ullist a{
    text-decoration: none;
    height:3rem;
}
.ullist a:hover{
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius:1.5rem;
    
}
.active{
    color:white;
    background-color: darkblue;
    font-weight: bold;
    font-size: 2.5rem;
    border-radius:1.5rem;
    
}
.list-item{
    display:flex;
    font-size: 2.2rem;
    list-style: none;
    justify-content:flex-end ;
    padding:2.5rem;
    align-content: right;
    background-color: chartreuse;
    
}
.name {
    display:flex;
    font-size: 3rem;
    padding:2rem;
    padding-left: 8rem;
    width:50%;
}
.hobbies {
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.hobby {
    font-size: 5rem;
    padding:2rem;
    margin-top: 4rem;
    font-weight: 700;
    font-family:cursive ;
}
.list {
    list-style: none;
    font-size: 3rem;
}
.list-items {
    font-size: 4.5rem;
}
@media(max-width:996px)
{
    html {
        font-size:55%;
    }
}
@media(max-width:843px)
{
    html {
        font-size:45%;
    }
}
@media(max-width:691px)
{
    html {
        font-size:35%;
    }
}
@media(max-width:537px)
{
    html {
        font-size:25%;
    }
}
@media(max-width:389px)
{
    html {
        font-size:20%;
    }
}
