*{
    margin:0;
    padding:0;
}
.navbar {
    display: flex;
    background-color: chartreuse;
    height:80px;
    /* flex-wrap: wrap; */
    
}

.ullist {
    /* padding-right:10px; */
    display:flex;
    /* justify-content:left; */
    width:40%;
    text-decoration: none;
    /* flex-wrap: wrap; */

   }
.ullist a{
    text-decoration: none;
    height:30px;
}
.ullist a:hover{
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius:15px;
    
}
.list-item{
    display:flex;
    font-size: 22px;
    list-style: none;
    justify-content:flex-end ;
    padding:25px;
    align-content: right;
    background-color: chartreuse;
    
}
.name {
    display:flex;
    font-size: 30px;
    padding:20px;
    padding-left: 80px;
    width:50%;
}
.skill {
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.skil {
    font-size: 50px;
    padding:20px;
    margin-top: 40px;
    font-weight: 700;
    font-family:cursive ;
}
.lists {
    display: flex;
}
.skills {
    list-style: none;
    font-size: 30px;
}
.skill-list {
    
    font-size: 45px;
}
.star {
    
    /* list-style: none; */
}
.star-list {
    font-size: 45px;
    padding-left: 60px;
    list-style: none;

}
.checked {
    color:blue;
}
@media(max-width: 520) {
       
    font-size: 25px;
    padding-left: 40px;
    

}